.default-layout {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  padding-bottom: 2rem;
}
.main {
  grid-area: main;
  min-height: 88vh;
  color: black;
}
.footer {
  grid-area: footer;
  background: black;
  padding: 1rem;
  color: white;
}
